$cyan: hsl(179, 62%, 43%);
$brightYellow: hsl(71, 73%, 54%);
$lightGray: hsl(204, 43%, 93%);
$grayishBlue: hsl(218, 22%, 67%);
$lightCyan: #4abebd;
$font-sm: 1rem;
$font-md: 1.25rem;
$font-lg: 1.75rem;
